* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.video-wrapper {
  max-width: 1655px;
  width: 100%;
  margin: 0 auto 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  @media screen and (min-width: 1440px) and (max-width: 1919px) {
    max-width: 1360px;
  }
  @media screen and (min-width: 1280px) and (max-width: 1439px) {
    max-width: 1200px;
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    max-width: 945px;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    max-width: 690px;
  }
  h2.video-caption {
    cursor: default;
    margin-bottom: 145px;
    @media screen and (max-width: 767px) {
      margin-bottom: 50px;
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-bottom: 95px;
    }
  }
}

.video__container {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  .video-list-wrapper {
    max-width: 1515px;
    width: 100%;
    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      max-width: calc(100% - 140px);
      margin: 0 auto;
    }
    .video-list {
      list-style: none;
      margin-bottom: 100px;
      .video-item {
        width: 735px;
        height: 415px;
        position: relative;
        overflow: hidden;
        margin-right: 45px;
        @media screen and (min-width: 1440px) and (max-width: 1919px) {
          width: 587px;
          height: 355px;
        }
        @media screen and (min-width: 1280px) and (max-width: 1439px) {
          width: 507px;
          height: 315px;
        }
        @media screen and (min-width: 1024px) and (max-width: 1279px) {
          width: 450px;
          height: 315px;
        }
        @media screen and (max-width: 1023px) {
          width: 100%;
        }
        &:last-child {
          margin-right: 0;
        }
        .video-item {
          width: 100%;
          height: auto;
          min-height: 100%;
          object-fit: cover;
        }
        .video-item-play--mobil {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          display: block;
          cursor: pointer;
          @media screen and (min-width: 1280px) {
            display: none;
          }
        }
        .video-item-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.7);
          padding: 0 75px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          opacity: 0;
          -webkit-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          @media screen and (max-width: 1279px) {
            display: none;
          }
          .video-item-play {
            cursor: pointer;
            position: relative;
            width: 40px;
            height: 30px;
            display: block;
            margin-bottom: 65px;
            margin-top: auto;
            -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            transform: translateY(-100%);
            opacity: 0;
            -webkit-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
            &:after {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              border: 15px solid transparent;
              border-left: 25px solid #FFFFFF;
            }
          }
          .video-item-caption {
            font-family: Tenor Sans, sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 36px;
            text-transform: uppercase;
            color: #FFFFFF;
            cursor: default;
            margin-bottom: 30px;
            -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            transform: translateY(-100%);
            opacity: 0;
            -webkit-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
          }
          .video-item-text {
            font-family: Proxima Nova, sans-serif;
            line-height: 26px;
            font-size: 18px;
            color: #FFFFFF;
            cursor: default;
            margin-bottom: 85px;
            -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            transform: translateY(-100%);
            opacity: 0;
            -webkit-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
          }
        }
        &:hover {
          .video-item-wrapper {
            opacity: 1;
            .video-item-play,
            .video-item-caption,
            .video-item-text {
              opacity: 1;
              transform: translateY(0);
            }
            .video-item-play {
              transition-delay: .2s;
            }
            .video-item-caption {
              transition-delay: .3s;
            }
            .video-item-text {
              transition-delay: .4s;
            }
          }
        }
      }
    }
  }
  .video-scroll {
    width: 100%;
    height: 2px;
    background: #A5ABB0;
    cursor: pointer;
    .swiper-scrollbar-drag {
      background: #FF0000;
      cursor: pointer;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    top: 178px;
    margin-top: 0;
    height: 45px;
    width: 45px;
    cursor: pointer;
    @media screen and (min-width: 1440px) and (max-width: 1919px) {
      top: 160px;
    }
    @media screen and (min-width: 1280px) and (max-width: 1439px) {
      top: 140px;
    }
    @media screen and (max-width: 1279px) {
      top: auto;
      bottom: 28px;
    }
  }
  .swiper-button-prev {
    background: url("../template/img/svg/arrow-left.svg") no-repeat center;
    background-size: cover;
  }
  .swiper-button-next {
    background: url("../template/img/svg/arrow-right.svg") no-repeat center;
    background-size: cover;
  }
}

.video__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  background: #000000;
  &.active {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
  }
  video {
    margin: 0 auto;
  }
  .vid-request-fullscreen {
    display: none;
  }
  .video-close {
    position: absolute;
    width: 40px;
    height: 40px;
    display: block;
    right: 30px;
    top: 30px;
    background: #000000 url("../template/img/svg/cancel.svg") no-repeat center;
    background-size: 50%;
    opacity: 0;
    -webkit-transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -o-transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    cursor: pointer;
    z-index: 20;
  }
  #player {
    &.mouse-entered ~ .video-close {
      opacity: 1;
    }
    &.paused {
      .vid-play-btn {
        border: 15px solid transparent;
        border-left: 25px solid #FFFFFF;
      }
    }
  }
  .vid-play-btn {
    width: 40px;
    height: 20px;
    background: url("../template/img/svg/pause.svg") no-repeat center;
    background-size: auto 100%;
  }
}